IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Proyecto_Ing_softw')
BEGIN
    CREATE DATABASE [Proyecto_Ing_softw];
END
GO

USE [Proyecto_Ing_softw]
GO

/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[FechaUTC] [datetime2](7) NOT NULL,
	[Usuario_ID] [int] NOT NULL,
	[Usuario_Username] [nvarchar](150) NULL,
	[Accion] [nvarchar](100) NULL,
	[Mensaje] [nvarchar](500) NULL,
	[Detalle] [nvarchar](max) NULL,
	[Origen] [nvarchar](150) NULL,
	[Host] [nvarchar](100) NULL,
	[IP] [varchar](45) NULL,
	[Severidad] [int] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[FechaUTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[ID] [int] NOT NULL,
	[Nombre_tabla] [varchar](50) NULL,
	[Suma] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Etiqueta_Clave] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[Etiqueta_Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Hijo]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Hijo](
	[Familia_ID] [int] NOT NULL,
	[Hijo_ID] [int] NOT NULL,
 CONSTRAINT [PK_Familia_Hijo] PRIMARY KEY CLUSTERED 
(
	[Familia_ID] ASC,
	[Hijo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Idioma_Id] [int] IDENTITY(1,1) NOT NULL,
	[Idioma_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Idioma_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Perfil_ID] [int] IDENTITY(1,1) NOT NULL,
	[Perfil_Nombre] [varchar](50) NULL,
	[Perfil_Tag] [varchar](50) NULL,
	[Perfil_Tipo] [varchar](50) NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[Perfil_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Traduccion_IdiomaId] [int] NOT NULL,
	[Traduccion_EtiquetaClave] [varchar](100) NOT NULL,
	[Traduccion_Texto] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Traduccion_IdiomaId] ASC,
	[Traduccion_EtiquetaClave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_Username] [nvarchar](50) NULL,
	[Usuario_Password] [nvarchar](50) NULL,
	[Usuario_Mail] [nvarchar](50) NULL,
	[Usuario_IntentosFallidos] [numeric](18, 0) NULL,
	[Usuario_Bloqueado] [bit] NULL,
	[DVH] [bigint] NULL,
	[Usuario_IdiomaDefault] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Usuario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Perfil]    Script Date: 8/7/2026 01:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Perfil](
	[Usuario_ID] [int] NOT NULL,
	[Perfil_ID] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Perfil] PRIMARY KEY CLUSTERED 
(
	[Usuario_ID] ASC,
	[Perfil_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([FechaUTC], [Usuario_ID], [Usuario_Username], [Accion], [Mensaje], [Detalle], [Origen], [Host], [IP], [Severidad]) VALUES (CAST(N'2026-05-24T03:26:13.0000000' AS DateTime2), 1, N'test', N'Ingreso Exitoso', N'Se blanquea intentos fallidos', N'', N'SistemaTurnos', N'WIN-O7CAF1FNCVK', N'127.0.0.1', 1)
INSERT [dbo].[Bitacora] ([FechaUTC], [Usuario_ID], [Usuario_Username], [Accion], [Mensaje], [Detalle], [Origen], [Host], [IP], [Severidad]) VALUES (CAST(N'2026-05-24T03:26:27.0000000' AS DateTime2), 1, N'test', N'Se cierra sesion', N'', N'', N'SistemaTurnos', N'WIN-O7CAF1FNCVK', N'127.0.0.1', 2)
INSERT [dbo].[Bitacora] ([FechaUTC], [Usuario_ID], [Usuario_Username], [Accion], [Mensaje], [Detalle], [Origen], [Host], [IP], [Severidad]) VALUES (CAST(N'2026-05-24T12:55:56.0000000' AS DateTime2), 1, N'test', N'Ingreso Exitoso', N'Se blanquea intentos fallidos', N'', N'SistemaTurnos', N'WIN-O7CAF1FNCVK', N'127.0.0.1', 3)
GO
INSERT [dbo].[DVV] ([ID], [Nombre_tabla], [Suma]) VALUES (1, N'Usuario', CAST(788246 AS Numeric(18, 0)))
GO
INSERT [dbo].[Etiqueta] ([Etiqueta_Clave]) VALUES (N'AdministrarPerfilesForm')
INSERT [dbo].[Etiqueta] ([Etiqueta_Clave]) VALUES (N'AdmPerfEditEditar')
INSERT [dbo].[Etiqueta] ([Etiqueta_Clave]) VALUES (N'AdmPerfEditEliminar')
GO
INSERT [dbo].[Familia_Hijo] ([Familia_ID], [Hijo_ID]) VALUES (7, 9)
INSERT [dbo].[Familia_Hijo] ([Familia_ID], [Hijo_ID]) VALUES (15, 2)
INSERT [dbo].[Familia_Hijo] ([Familia_ID], [Hijo_ID]) VALUES (15, 3)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Idioma_Id], [Idioma_Nombre]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([Idioma_Id], [Idioma_Nombre]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([Perfil_ID], [Perfil_Nombre], [Perfil_Tag], [Perfil_Tipo]) VALUES (1, N'abm_perfiles', N'GESTION_PERFILES', N'Patente')
INSERT [dbo].[Perfil] ([Perfil_ID], [Perfil_Nombre], [Perfil_Tag], [Perfil_Tipo]) VALUES (2, N'desbloquearUsuario', N'DESBLOQUEAR_USUARIO', N'Patente')
INSERT [dbo].[Perfil] ([Perfil_ID], [Perfil_Nombre], [Perfil_Tag], [Perfil_Tipo]) VALUES (3, N'crear_usuarios', N'CREAR_USUARIO', N'Patente')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Traduccion] ([Traduccion_IdiomaId], [Traduccion_EtiquetaClave], [Traduccion_Texto]) VALUES (1, N'AdministrarPerfilesForm', N'Administrar Perfiles')
INSERT [dbo].[Traduccion] ([Traduccion_IdiomaId], [Traduccion_EtiquetaClave], [Traduccion_Texto]) VALUES (1, N'AdmPerfEditEditar', N'Editar Perfil')
INSERT [dbo].[Traduccion] ([Traduccion_IdiomaId], [Traduccion_EtiquetaClave], [Traduccion_Texto]) VALUES (1, N'AdmPerfEditEliminar', N'Eliminar Perfil')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Usuario_ID], [Usuario_Username], [Usuario_Password], [Usuario_Mail], [Usuario_IntentosFallidos], [Usuario_Bloqueado], [DVH], [Usuario_IdiomaDefault]) VALUES (1, N'test', N'098f6bcd4621d373cade4e832627b4f6', N'', CAST(0 AS Numeric(18, 0)), 0, 73912, 0)
INSERT [dbo].[Usuario] ([Usuario_ID], [Usuario_Username], [Usuario_Password], [Usuario_Mail], [Usuario_IntentosFallidos], [Usuario_Bloqueado], [DVH], [Usuario_IdiomaDefault]) VALUES (2, N'prueba', N'c893bad68927b457dbed39460e6afd62', N'', CAST(1 AS Numeric(18, 0)), 0, 82549, 0)
INSERT [dbo].[Usuario] ([Usuario_ID], [Usuario_Username], [Usuario_Password], [Usuario_Mail], [Usuario_IntentosFallidos], [Usuario_Bloqueado], [DVH], [Usuario_IdiomaDefault]) VALUES (3, N'rr', N'514f1b439f404f86f77090fa9edc96ce', N'', CAST(1 AS Numeric(18, 0)), 0, 69975, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Perfil] ([Usuario_ID], [Perfil_ID]) VALUES (1, 24)
INSERT [dbo].[Usuario_Perfil] ([Usuario_ID], [Perfil_ID]) VALUES (5, 18)
INSERT [dbo].[Usuario_Perfil] ([Usuario_ID], [Perfil_ID]) VALUES (7, 20)
GO
-- ========================================================
-- CREACIÓN DE LAS CLAVES FORÁNEAS (AL FINAL DEL SCRIPT)
-- ========================================================

ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO

ALTER TABLE [dbo].[Familia_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Hijo_Perfil] FOREIGN KEY([Familia_ID])
REFERENCES [dbo].[Perfil] ([Perfil_ID])
GO
ALTER TABLE [dbo].[Familia_Hijo] CHECK CONSTRAINT [FK_Familia_Hijo_Perfil]
GO

ALTER TABLE [dbo].[Familia_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Hijo_Perfil1] FOREIGN KEY([Hijo_ID])
REFERENCES [dbo].[Perfil] ([Perfil_ID])
GO
ALTER TABLE [dbo].[Familia_Hijo] CHECK CONSTRAINT [FK_Familia_Hijo_Perfil1]
GO

ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Etiqueta] FOREIGN KEY([Traduccion_EtiquetaClave])
REFERENCES [dbo].[Etiqueta] ([Etiqueta_Clave])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Etiqueta]
GO

ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([Traduccion_IdiomaId])
REFERENCES [dbo].[Idioma] ([Idioma_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO

ALTER TABLE [dbo].[Usuario_Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil_Perfil] FOREIGN KEY([Perfil_ID])
REFERENCES [dbo].[Perfil] ([Perfil_ID])
GO
ALTER TABLE [dbo].[Usuario_Perfil] CHECK CONSTRAINT [FK_Usuario_Perfil_Perfil]
GO

ALTER TABLE [dbo].[Usuario_Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil_Usuario] FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Usuario_Perfil] CHECK CONSTRAINT [FK_Usuario_Perfil_Usuario]
GO