<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	
		<add name="ConnString" connectionString="Data Source=WIN-O7CAF1FNCVK;Initial Catalog=Proyecto_Ing_softw;Integrated Security=True;Trust Server Certificate=True"/>
	
		<!-- aca deberia ir otra cadena
		<add name="ConnString" connectionString="Data Source=WIN-O7CAF1FNCVK\SQLEXPRESS;Initial Catalog=Proyecto_Ing_softw;Integrated Security=True;TrustServerCertificate=True"/>
		 -->
	</connectionStrings>
</configuration>